@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px #444 solid; */
}

html {
  font-size: 62.5%;
  font-family: 'Fira Mono', monospace;
  --text: calc(1rem + 0.5vw);
  --special-color: rgb(137, 11, 211);
}

.flex-container {
  display: flex;
}

/* HEADER */
.main-header {
  display: flex;
  border-bottom: 1px solid #333;
  top: 0rem;
}

.wrapper {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
}

header.wrapper {
  min-height: 10vh;
}

.logo {
  flex: 3 1 40rem;
  font-size: 1.8rem;
}

ul.links {
  display: flex;
  font-size: 2rem;
  flex: 1 1 20rem;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  align-items: center;
}

ul li a {
  text-decoration: none;
  color: var(--special-color);
}

/* BUTTONS */
button {
  font-family: 'Fira Mono', monospace;
  display: block;
}

button.add-btn {
  background-color: green;
  display: inline;
  min-width: 20%;
}

button.change-btn {
  background-color: orange;
}

button.remove-btn {
  background-color: red;
}

/* MAIN */
.main {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  max-height: 80%;
}

.main-content {
  width: 90%;
}

p {
  padding: 1rem 0rem;
  line-height: 2.5rem;
  font-size: var(--text);
}

input {
  font-family: 'Fira Mono';
}

.todo li {
  font-size: var(--text);
}

/* FOOTER */
.main-footer {
  position: absolute;
  width: 100%;
  border-top: 1px solid #333;
  bottom: 0;
  left: 0;
}

header.wrapper {
  min-height: 10vh;
}

footer ul .links {
  justify-content: space-around;
}
